<div class="light-gray-bg tm-main-section col-lg-9 col-md-9 col-sm-8 tm-section row">
    <section class="tm-section row">
        <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font">Art Work</h2>
            <div class="tm-hr-container">
                <hr class="tm-hr">
            </div>
        </div>
        <div class="col-lg-12 tm-popular-items-container">
            <div class="tm-popular-item">
                <img src="assets/img/popular-1.jpg" alt="Popular" class="tm-popular-item-img">
                <div class="tm-popular-item-description">
                    <p class="tm-handwriting-font tm-popular-item-title">Maecenas tempus, tellus eget condimentum
                        rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                </div>
            </div>
            <div class="tm-popular-item">
                <img src="assets/img/popular-2.jpg" alt="Popular" class="tm-popular-item-img">
                <div class="tm-popular-item-description">
                    <p class="tm-handwriting-font tm-popular-item-title">Maecenas tempus, tellus eget condimentum
                        rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                </div>
            </div>
            <div class="tm-popular-item">
                <img src="assets/img/popular-3.jpg" alt="Popular" class="tm-popular-item-img">
                <div class="tm-popular-item-description">
                    <p class="tm-handwriting-font tm-popular-item-title">Maecenas tempus, tellus eget condimentum
                        rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                </div>
            </div>
        </div>
    </section>
</div>