@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700";
@import "http://fonts.googleapis.com/css?family=Damion";
@import "../bootstrap.min.css";

.ul { 
    margin: 0; 
    padding: 0;
  }
  * { font-family: 'Open Sans', sans-serif; }
  .container { max-width: 960px; }
  .tm-handwriting-font { font-family: 'Damion', cursive; }
  .tm-top-header {
    background: black;
    color: white;
  }
  .tm-site-logo,
   .tm-site-name {
    vertical-align: bottom;
  }
  .tm-site-name {
    color: #c79c60;
    display: inline-block;
    font-size: 32px;
    margin: 0 10px;  
  }
  .tm-logo-container { padding: 10px 0; }
  .tm-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    text-transform: uppercase;  
  }
  .tm-nav li {
    list-style: none;
    float: left;
  }
  .tm-nav li a {
    color: white;
    display: inline-block;
    padding: 15px 15px 20px 30px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }
  .tm-nav li a:hover,
   .tm-nav li a:focus,
   .tm-nav li a.active {  
    color: #c79c60;
    text-decoration: none;
  }
  .tm-nav li a.active {
    background: url('../../assets/img/logo.png') no-repeat, url(../../assets/img/nav-underline.png) no-repeat;
    background-size: 20px, 74px 17px;
    background-position: 0% 30%, center bottom;
  }
  .tm-top-header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-menu-icon { display: none; }
  .tm-section { margin-bottom: 60px; }
  .tm-section-margin-bottom-0 { margin-bottom: 0; }

  .tm-welcome-section {
    background: #282726;
    text-align: center;
  }
  .white-text { color: white; }
  .blue-text { color: #0066CC; }
  .gold-text { color: #c79c60; }
  .gray-text { color: #949494; }
  .green-text { color: #30A430; }
  .tm-welcome-header { font-size: 56px; }
  .tm-welcome-header-2 {
    font-family: 'Times New Roman', serif;
    font-size: 62px;
    text-transform: uppercase;
  }
  .tm-welcome-content {
    margin: 150px auto 350px;
    max-width: 650px;
  }

  .tm-more-button-welcome { margin: 40px auto; }
.tm-more-button {  
  display: -webkit-box;  
  display: -webkit-flex;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../../assets/img/tm-brown-button.png');
  width: 196px;
  height: 46px;  
  text-transform: uppercase;
  font-size: 16px;
  color: #c79c60;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-more-button:hover,
.tm-more-button:focus {
  color: white;
  text-decoration: none;
}

.tm-welcome-description { text-align: justify; }

tm-main-section { padding-top: 170px; }

@media only  screen and (max-width: 991px) {
    .tm-welcome-content { margin-bottom: 250px; }
    .tm-main-section { padding-top: 200px; }
    .light { 
      width: 240px; 
      height: auto;
    }
}

.tm-section { margin-bottom: 60px; }
.tm-section-header { width: 350px; }

.tm-section-header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .tm-section-header-container { 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
        -ms-flex-align: start; 
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
  }
.light-gray-bg { background-color: #e4e4e4; } 
.tm-position-relative { position: relative; }

