@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700";
@import "http://fonts.googleapis.com/css?family=Damion";
@import "../bootstrap.min.css";

.tm-main-section { padding-top: 170px; }

@media only  screen and (max-width: 991px) {
    .tm-welcome-content { margin-bottom: 250px; }
    .tm-main-section { padding-top: 200px; }
    .light { 
      width: 240px; 
      height: auto;
    }
}

.light-gray-bg { background-color: #e4e4e4; }
.tm-main-section { padding-top: 170px; }
.img-thumbnail { padding: 8px; }
.inline-block { display: inline-block; }
.shadow-img {
  background: url(../../assets/img//shadow.png) no-repeat center bottom;
  padding-bottom: 7px;
}
.margin-top-30 { margin-top: 30px; }

.bigger-first-letter { font-size: 60px; }
.tm-handwriting-font { font-family: 'Damion', cursive; }
.gold-text { color: #c79c60; }

.tm-more-button-welcome { margin: 40px auto; }
.tm-more-button {  
  display: -webkit-box;  
  display: -webkit-flex;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../../assets/img/tm-brown-button.png');
  width: 196px;
  height: 46px;  
  text-transform: uppercase;
  font-size: 16px;
  color: #c79c60;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}